In [1]:
#import packages
import os
import pandas as pd
import numpy as np

df = pd.read_csv('Demographic data.csv') #Read excel file

In [2]:
df.head()

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,No of months in current company,Performance Tag
0,954457215,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,56,0.0
1,432830445,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,46,0.0
2,941387308,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,49,0.0
3,392161677,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,53,0.0
4,182011211,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,43,0.0

In [4]:
df_new1 = df.copy()
df_new1 = df_new1.replace(r'^s*$', float('NaN'), regex = True)
print(df_new1)

       Application ID  Age Gender Marital Status (at the time of application)  \
0           954457215   48      F                                     Married
1           432830445   31      M                                     Married
2           941387308   32      M                                      Single
3           392161677   43      M                                     Married
4           182011211   35      F                                     Married
...               ...  ...    ...                                         ...
71290       254036864   44      M                                     Married
71291       375231276   24      M                                      Single
71292        32481239   33      M                                     Married
71293       704812159   52      M                                     Married
71294        37493797   54      M                                     Married

       No of dependents  Income     Education Profession  Type of residence  \
0                   2.0    40.0      Bachelor         SAL            Rented
1                   4.0    55.0  Professional     SE_PROF            Rented
2                   2.0    46.0      Bachelor     SE_PROF            Rented
3                   1.0    53.0      Bachelor          SE            Rented
4                   5.0    44.0  Professional         SAL            Rented
...                 ...     ...           ...         ...               ...
71290               3.0    15.0  Professional         SAL            Rented
71291               1.0     4.5      Bachelor         SAL             Owned
71292               4.0     6.0      Bachelor     SE_PROF            Rented
71293               3.0     4.5      Bachelor          SE            Rented
71294               3.0    42.0      Bachelor          SE            Rented

       No of months in current residence  No of months in current company  \
0                                    113                               56
1                                    112                               46
2                                    104                               49
3                                     94                               53
4                                    112                               43
...                                  ...                              ...
71290                                  6                                3
71291                                 20                                7
71292                                 37                               25
71293                                 76                               57
71294                                 96                               29

       Performance Tag
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0
...                ...
71290              0.0
71291              1.0
71292              0.0
71293              0.0
71294              0.0

[71295 rows x 12 columns]

In [5]:
df_new2 = df_new1.copy()
df_new2.dropna(inplace = True)
print(df_new2)

       Application ID  Age Gender Marital Status (at the time of application)  \
0           954457215   48      F                                     Married
1           432830445   31      M                                     Married
2           941387308   32      M                                      Single
3           392161677   43      M                                     Married
4           182011211   35      F                                     Married
...               ...  ...    ...                                         ...
71290       254036864   44      M                                     Married
71291       375231276   24      M                                      Single
71292        32481239   33      M                                     Married
71293       704812159   52      M                                     Married
71294        37493797   54      M                                     Married

       No of dependents  Income     Education Profession  Type of residence  \
0                   2.0    40.0      Bachelor         SAL            Rented
1                   4.0    55.0  Professional     SE_PROF            Rented
2                   2.0    46.0      Bachelor     SE_PROF            Rented
3                   1.0    53.0      Bachelor          SE            Rented
4                   5.0    44.0  Professional         SAL            Rented
...                 ...     ...           ...         ...               ...
71290               3.0    15.0  Professional         SAL            Rented
71291               1.0     4.5      Bachelor         SAL             Owned
71292               4.0     6.0      Bachelor     SE_PROF            Rented
71293               3.0     4.5      Bachelor          SE            Rented
71294               3.0    42.0      Bachelor          SE            Rented

       No of months in current residence  No of months in current company  \
0                                    113                               56
1                                    112                               46
2                                    104                               49
3                                     94                               53
4                                    112                               43
...                                  ...                              ...
71290                                  6                                3
71291                                 20                                7
71292                                 37                               25
71293                                 76                               57
71294                                 96                               29

       Performance Tag
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0
...                ...
71290              0.0
71291              1.0
71292              0.0
71293              0.0
71294              0.0

[69721 rows x 12 columns]

In [6]:
df_new2.to_csv('C:/Users/Kyle/OneDrive/Documents/GitHub/PGDDS_BFS-Capstone-Project/Demographics cleaned.csv')